.wrapper{
    width: 100%;
}
.image{
    position: relative;
    width: 100%;
    height: 350px;
    background: url("../img/header/scott-webb--udZnjsCzsE-unsplash.jpg") no-repeat center center;
    color: #fff;
}
.cover{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%; 
    height: 350px;
}
.image h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

h1{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
}
.chart_img{
    margin: auto;
    height: 600px;
    width: 1000px;
}
.chart_img img{
    width: 100%;
    object-fit: cover;
}


@media (max-width: 1000px){
    .chart_img{
        height: auto;
        width: 90%;
    }
}
