.wrapper{
    width: 100%;
}
.image{
    position: relative;
    width: 100%;
    height: 350px;
    background: url("../img/header/skyline-5575251_1920.jpg") no-repeat center center;
    color: #fff;
}
.cover{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 350px;
}
.image h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
}
.footer{
    height: 18rem;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100px;
    float: left;
}

option{
    font-family: 'Nanum Gothic', sans-serif;
}
.search{
    text-align: center;
}
select{
    border: 1px solid #000;
}
legend{
    visibility: hidden;
}