{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_detail.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet">

    <style type="text/css">
      .main_img{
        background: url("{% static 'img/2.jpg' %}") no-repeat center center;
      }
    </style>
</head>
<body>
  <div id="body">
    <div id="content">
      <a href="#" class="openmenu" onclick='openNav()'><img src="{% static 'img/square_24.png' %}" alt=""></a>
      <div class="logo">
        <a href="{% url 'posts:index' %}"><img id="logo" src="{% static 'img/logo_150.png' %}" alt=""></a>
        <p>White & Blue Brokerage Company L.L.C</p>
      </div>

      <!-- navbar -->
      <div id="mysidenav" class="nav">
        <a href="#" class="closebtn" onclick='closeNav()'>x</a>
        <div class="menu">
        <ul>
            <h1>회사 소개</h1>
            <li><a href="{% url 'posts:about' %}">About Us</a></li>
            <li><a href="{% url 'posts:history' %}">회사 연혁</a></li>
            <li><a href="{% url 'posts:chart' %}">조직도</a></li>
            <li><a href="{% url 'posts:location' %}">오시는 길</a></li>
        </ul>
        <ul>
            <h1>서비스</h1>
            <li><a href="{% url 'posts:service' %}">법인/지사 설립 컨설팅</a></li>
            <li><a href="{% url 'posts:service' %}">시장 진출 전략 수립</a></li>
            <li><a href="{% url 'posts:service' %}">밴더 등록 컨설팅</a></li>
            <li><a href="{% url 'posts:service' %}">투자환경 조사 대행(법률, 회계, 노무)</a></li>
        </ul>
        <ul>
            <h1>비즈니스 제휴</h1>
            <li><a href="{% url 'posts:business' %}">관급 입찰 정보 제공</a></li>
            <li><a href="{% url 'posts:business' %}">관급 입찰 JV 컨설팅</a></li>
        </ul>
        <ul>
            <h1>공지 및 정보</h1>
            <li><a href="{% url 'posts:notice' %}">공지사항</a></li>
            <li><a href="{% url 'posts:news' %}">UAE 뉴스</a></li>
        </ul>
        <ul>
            <h1>전문 상담 예약</h1>
            <li><a href="{% url 'posts:reservation' %}">일정표 상 예약 가능 여부 확인</a></li>
        </ul>
        </div>
      </div>

      <div class="main_img"></div>
  
      <div class="page">
        <h1>White & Blue Brokerage Company L.L.C</h1>
        <p>White & Blue는 Abu-Dhabi 진출을 희망하는 한국 및 외국 기업들에게 현지 정보 제공 및 경영지원, 시장조사 등의 업무를 수행하는 종합 컨설팅 회사이며, 법인 설립부터 운영지원까지 Abu-Dhabi 진출기업과 비지니스의 성공을 함께 합니다. <br>
          매력적인 Abu-Dhabi 시장의 진입 장벽은 언어 소통 및 복잡하고 불합리한 행정 처리, 노동 허가 및 거주증 발급의 어려움 등 다양합니다. <br>
          또한 낯선 환경에서 시간과 비용을 낭비하지 않고 원하는 사업에 집중할 수 있도록 각 분야별 풍부한 경험과 탁월한 전문지식을 바탕으로 Abu-Dhabi에 진출하고자하는 기업에 Abu-Dhabi 내 사업 환경의 이해를 도와 드릴뿐 아니라 성공적인 Abu-Dhabi 사업운영을 위한 원스톱 서비스를 지원해 드리는 고객과 함께 고민하고 성장하는 성공의 동반자 White & Blue입니다.</p>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="footer">
    <div class="inner">
      <h2>White & Blue Brockerage Company L.L.C</h2>
      <div>
        <ul>
          <li>
            <strong>대표자</strong>
            <span>Hussain Abdul Rahim Abdulla Hussain Alkhoori / 이 정 필</span>
          </li>
          <li>
            <strong>주소</strong>
            <span>[한국] 서울특별시 종로구 사직로 130 (적선현대빌딩 1105호)</span>
          </li>
          <li>
            <strong>연락처</strong>
            <span>[KOR]Tel.+82-2-786-1976 Fax.+82-2-786-1978</span>
            <span>[UAE]Tel.+   Fax.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    function openNav() {
      document.getElementById('mysidenav').style.width = '100%';
    }
    function closeNav() {
      document.getElementById('mysidenav').style.width = '0';
    }
  </script>
</body>
</html>